<html>

<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=
"></script>
<!-- AIzaSyA6cAGqGi60aw4-sIFeKIj-JvtFfNV5X1c -->
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 12,
            center: new google.maps.LatLng(3.034638, 101.374150)
        });

            var marker = new google.maps.Marker({
                position: origin,
                map: map
            });
            var marker = new google.maps.Marker({
                position: hub,
                map: map
            });
            var marker = new google.maps.Marker({
                position: destination,
                map: map
            });

            var bounds = new google.maps.LatLngBounds();
            bounds.extend(origin);
            bounds.extend(hub);
            bounds.extend(destination);
            map.fitBounds(bounds);
        }
    </script>
</head>

<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>

</html>